# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
android/app/build/
android/app/debug.keystore

# Windows
windows/flutter/ephemeral/

# OS
.DS_Store
Thumbs.db
*.log


# 
**/__pycache__/
**/*.py[cod]
**/.venv/
**/venv/
restaurant_server/*.sqlite3
restaurant_server/*.db
