# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
android/app/build/
android/app/debug.keystore

# Windows
windows/flutter/ephemeral/

# OS
.DS_Store
Thumbs.db
*.log

# Baza danych i pliki tymczasowe (WAL mode)
restaurant_server/*.sqlite3
restaurant_server/*.sqlite3-wal
restaurant_server/*.sqlite3-shm
restaurant_server/*.db


# 
**/__pycache__/
**/*.py[cod]
**/.venv/
**/venv/
restaurant_server/*.sqlite3
restaurant_server/*.db
